<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>邮件模板</title>
<!--    <style>-->
<!--        .wrapper{-->
<!--            background-size: 100% 100%;-->
<!--            height: 100vh;-->
<!--            font-size: 18px;-->
<!--            color: pink;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div class="wrapper">
    您收到了来自【花贝的博客】的回复：
    <div>${content}</div>
    <div><a href="https://han96.com">点击查看</a></div>
</div>

</body>
</html>